## Random action model

Provide baseline performance of choosing ambulance dispatch points at random on each allocation.

In [1]:
################################################################################
#                           1 Import packages                                  #
################################################################################

from amboworld.environment import Env

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random

# Supress all warnings (e.g. deprecation warnings) for regular use
import warnings

warnings.filterwarnings("ignore")

In [2]:
# Replicate runs
TEST_EPISODES = 30

# Set whether to display on screen (slows model)
DISPLAY_ON_SCREEN = False

# SIM PARAMETERS
RANDOM_SEED = 42
SIM_DURATION = 5000
NUMBER_AMBULANCES = 3
NUMBER_INCIDENT_POINTS = 1
INCIDENT_RADIUS = 2
NUMBER_DISPTACH_POINTS = 25
AMBOWORLD_SIZE = 50
INCIDENT_INTERVAL = 60
EPOCHS = 2
AMBO_SPEED = 60
AMBO_FREE_FROM_HOSPITAL = False

In [3]:
all_results = dict()

## Random action model

In [4]:
results = dict()
results['call_to_arrival'] = []
results['assign_to_arrival'] = []
results['demand_met'] = []

sim = Env(
        random_seed = RANDOM_SEED,
        duration_incidents = SIM_DURATION,
        number_ambulances = NUMBER_AMBULANCES,
        number_incident_points = NUMBER_INCIDENT_POINTS,
        incident_interval = INCIDENT_INTERVAL,
        number_epochs = EPOCHS,
        number_dispatch_points = NUMBER_DISPTACH_POINTS,
        incident_range = INCIDENT_RADIUS,
        max_size = AMBOWORLD_SIZE,
        ambo_kph = AMBO_SPEED,
        ambo_free_from_hospital = AMBO_FREE_FROM_HOSPITAL
    )

for run in range(TEST_EPISODES):
    
    # Reset game environment and get first state observations
    state = sim.reset()

    # Continue loop until episode complete
    while True:    
        action = random.randint(0, sim.action_number -1)
        state_next, reward, terminal, info = sim.step(action)
        
        # Actions to take if end of game episode
        if terminal:
          
            print(f'Run: {run}, ', end='')
            mean_assignment_to_arrival = np.mean(info['assignment_to_arrival'])
            print(f'Mean assignment to arrival: {mean_assignment_to_arrival:4.1f}, ', end='')
            mean_call_to_arrival = np.mean(info['call_to_arrival'])
            print(f'Mean call to arrival: {mean_call_to_arrival:4.1f}, ', end='')
            demand_met = info['fraction_demand_met']
            print(f'Demand met {demand_met:0.3f}')
            
            results['call_to_arrival'].append(mean_call_to_arrival)
            results['assign_to_arrival'].append(mean_assignment_to_arrival)
            results['demand_met'].append(demand_met)
            
            break
            
results = pd.DataFrame(results)
filename = './output/results_random_action.csv'
results.to_csv(filename, index=False)

Run: 0, Mean assignment to arrival: 24.7, Mean call to arrival: 30.6, Demand met 1.000
Run: 1, Mean assignment to arrival: 24.9, Mean call to arrival: 30.9, Demand met 1.000
Run: 2, Mean assignment to arrival: 24.8, Mean call to arrival: 30.5, Demand met 1.000
Run: 3, Mean assignment to arrival: 24.7, Mean call to arrival: 30.0, Demand met 1.000
Run: 4, Mean assignment to arrival: 24.9, Mean call to arrival: 30.8, Demand met 1.000
Run: 5, Mean assignment to arrival: 24.7, Mean call to arrival: 30.2, Demand met 1.000
Run: 6, Mean assignment to arrival: 25.0, Mean call to arrival: 30.5, Demand met 1.000
Run: 7, Mean assignment to arrival: 24.7, Mean call to arrival: 30.1, Demand met 1.000
Run: 8, Mean assignment to arrival: 24.7, Mean call to arrival: 30.2, Demand met 1.000
Run: 9, Mean assignment to arrival: 24.8, Mean call to arrival: 31.0, Demand met 1.000
Run: 10, Mean assignment to arrival: 24.9, Mean call to arrival: 30.0, Demand met 1.000
Run: 11, Mean assignment to arrival: 24.7, Mean call to arrival: 30.8, Demand met 1.000
Run: 12, Mean assignment to arrival: 24.7, Mean call to arrival: 30.2, Demand met 1.000
Run: 13, Mean assignment to arrival: 24.8, Mean call to arrival: 30.4, Demand met 0.999
Run: 14, Mean assignment to arrival: 24.8, Mean call to arrival: 30.0, Demand met 1.000
Run: 15, Mean assignment to arrival: 24.5, Mean call to arrival: 29.7, Demand met 1.000
Run: 16, Mean assignment to arrival: 24.9, Mean call to arrival: 30.8, Demand met 1.000
Run: 17, Mean assignment to arrival: 24.7, Mean call to arrival: 29.9, Demand met 1.000
Run: 18, Mean assignment to arrival: 24.5, Mean call to arrival: 29.6, Demand met 0.999
Run: 19, Mean assignment to arrival: 24.9, Mean call to arrival: 30.9, Demand met 1.000
Run: 20, Mean assignment to arrival: 24.8, Mean call to arrival: 30.1, Demand met 1.000
Run: 21, Mean assignment to arrival: 24.9, Mean call to arrival: 30.4, Demand met 1.000
Run: 22, Mean assignment to arrival: 24.8, Mean call to arrival: 30.2, Demand met 1.000
Run: 23, Mean assignment to arrival: 24.7, Mean call to arrival: 30.0, Demand met 1.000
Run: 24, Mean assignment to arrival: 24.7, Mean call to arrival: 30.4, Demand met 1.000
Run: 25, Mean assignment to arrival: 24.6, Mean call to arrival: 30.5, Demand met 1.000
Run: 26, Mean assignment to arrival: 24.7, Mean call to arrival: 30.3, Demand met 1.000
Run: 27, Mean assignment to arrival: 24.8, Mean call to arrival: 30.2, Demand met 1.000
Run: 28, Mean assignment to arrival: 24.8, Mean call to arrival: 30.7, Demand met 1.000
Run: 29, Mean assignment to arrival: 24.7, Mean call to arrival: 30.3, Demand met 1.000

In [5]:
results

    call_to_arrival  assign_to_arrival  demand_met
0         30.620011          24.663679       1.000
1         30.877270          24.868209       1.000
2         30.484332          24.804864       1.000
3         29.976335          24.670144       1.000
4         30.778552          24.864995       1.000
5         30.244084          24.693119       1.000
6         30.530868          24.958508       1.000
7         30.122189          24.657696       1.000
8         30.232588          24.747149       1.000
9         31.001465          24.831581       1.000
10        30.005731          24.857286       1.000
11        30.816488          24.692457       1.000
12        30.162231          24.736957       1.000
13        30.443692          24.807318       0.999
14        29.965323          24.828672       1.000
15        29.702839          24.547893       1.000
16        30.773396          24.873454       1.000
17        29.910707          24.722293       1.000
18        29.573296          24.474819       0.999
19        30.890135          24.912098       1.000
20        30.054613          24.775097       1.000
21        30.446417          24.856301       1.000
22        30.199793          24.805104       1.000
23        29.978056          24.748604       1.000
24        30.363560          24.681889       1.000
25        30.458834          24.605593       1.000
26        30.343390          24.658371       1.000
27        30.179066          24.784030       1.000
28        30.685914          24.832065       1.000
29        30.296706          24.670731       1.000

In [6]:
results.describe()

       call_to_arrival  assign_to_arrival  demand_met
count        30.000000          30.000000   30.000000
mean         30.337263          24.754366    0.999933
std           0.364363           0.110127    0.000254
min          29.573296          24.474819    0.999000
25%          30.071507          24.673520    1.000000
50%          30.320048          24.761851    1.000000
75%          30.597725          24.831944    1.000000
max          31.001465          24.958508    1.000000