# Playback saved model

In [1]:
################################################################################
#                           1 Import packages                                  #
################################################################################

from amboworld.environment import Env

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random

import torch
import torch.nn as nn
import torch.optim as optim

# Use a double ended queue (deque) for memory
# When memory is full, this will replace the oldest value with the new one
from collections import deque

# Supress all warnings (e.g. deprecation warnings) for regular use
import warnings

warnings.filterwarnings("ignore")

In [2]:
MODEL_PATH = './models/'

MODELS = {
    'ddqn':'ddqn_policy.pt',
    '3dqn': '3dqn_policy.pt'
}

# Replicate runs
TEST_EPISODES = 30

# Set whether to display on screen (slows model)
DISPLAY_ON_SCREEN = False

# SIM PARAMETERS
RANDOM_SEED = 42
SIM_DURATION = 5000
NUMBER_AMBULANCES = 6
NUMBER_INCIDENT_POINTS = 2
INCIDENT_RADIUS = 2
NUMBER_DISPTACH_POINTS = 25
AMBOWORLD_SIZE = 50
INCIDENT_INTERVAL = 30
EPOCHS = 2
AMBO_SPEED = 60
AMBO_FREE_FROM_HOSPITAL = False

In [3]:
all_results = dict()

## Random action model

In [4]:
results = dict()
results['call_to_arrival'] = []
results['assign_to_arrival'] = []
results['demand_met'] = []

sim = Env(
        random_seed = RANDOM_SEED,
        duration_incidents = SIM_DURATION,
        number_ambulances = NUMBER_AMBULANCES,
        number_incident_points = NUMBER_INCIDENT_POINTS,
        incident_interval = INCIDENT_INTERVAL,
        number_epochs = EPOCHS,
        number_dispatch_points = NUMBER_DISPTACH_POINTS,
        incident_range = INCIDENT_RADIUS,
        max_size = AMBOWORLD_SIZE,
        ambo_kph = AMBO_SPEED,
        ambo_free_from_hospital = AMBO_FREE_FROM_HOSPITAL
    )

for run in range(TEST_EPISODES):
    
    # Reset game environment and get first state observations
    state = sim.reset()

    # Continue loop until episode complete
    while True:    
        action = random.randint(0, sim.action_number -1)
        state_next, reward, terminal, info = sim.step(action)
        
        # Actions to take if end of game episode
        if terminal:
          
            print(f'Run: {run}, ', end='')
            mean_assignment_to_arrival = np.mean(info['assignment_to_arrival'])
            print(f'Mean assignment to arrival: {mean_assignment_to_arrival:4.1f}, ', end='')
            mean_call_to_arrival = np.mean(info['call_to_arrival'])
            print(f'Mean call to arrival: {mean_call_to_arrival:4.1f}, ', end='')
            demand_met = info['fraction_demand_met']
            print(f'Demand met {demand_met:0.3f}')
            
            results['call_to_arrival'].append(mean_call_to_arrival)
            results['assign_to_arrival'].append(mean_assignment_to_arrival)
            results['demand_met'].append(demand_met)
            
            break
            
results = pd.DataFrame(results)
filename = './output/results_random_action.csv'
results.to_csv(filename, index=False)

Run: 0, Mean assignment to arrival: 19.0, Mean call to arrival: 19.7, Demand met 1.000
Run: 1, Mean assignment to arrival: 19.3, Mean call to arrival: 19.9, Demand met 1.000
Run: 2, Mean assignment to arrival: 19.0, Mean call to arrival: 19.7, Demand met 1.000
Run: 3, Mean assignment to arrival: 19.1, Mean call to arrival: 19.7, Demand met 1.000
Run: 4, Mean assignment to arrival: 19.3, Mean call to arrival: 20.0, Demand met 1.000
Run: 5, Mean assignment to arrival: 19.1, Mean call to arrival: 19.7, Demand met 1.000
Run: 6, Mean assignment to arrival: 19.3, Mean call to arrival: 20.0, Demand met 1.000
Run: 7, Mean assignment to arrival: 19.4, Mean call to arrival: 20.0, Demand met 1.000
Run: 8, Mean assignment to arrival: 19.1, Mean call to arrival: 19.7, Demand met 1.000
Run: 9, Mean assignment to arrival: 19.2, Mean call to arrival: 19.9, Demand met 0.999
Run: 10, Mean assignment to arrival: 19.1, Mean call to arrival: 19.7, Demand met 1.000
Run: 11, Mean assignment to arrival: 19.2, Mean call to arrival: 19.8, Demand met 1.000
Run: 12, Mean assignment to arrival: 19.0, Mean call to arrival: 19.6, Demand met 1.000
Run: 13, Mean assignment to arrival: 19.1, Mean call to arrival: 19.8, Demand met 1.000
Run: 14, Mean assignment to arrival: 18.8, Mean call to arrival: 19.4, Demand met 1.000
Run: 15, Mean assignment to arrival: 19.0, Mean call to arrival: 19.7, Demand met 1.000
Run: 16, Mean assignment to arrival: 19.0, Mean call to arrival: 19.6, Demand met 1.000
Run: 17, Mean assignment to arrival: 19.2, Mean call to arrival: 19.8, Demand met 1.000
Run: 18, Mean assignment to arrival: 19.2, Mean call to arrival: 19.8, Demand met 1.000
Run: 19, Mean assignment to arrival: 19.2, Mean call to arrival: 19.8, Demand met 1.000
Run: 20, Mean assignment to arrival: 19.4, Mean call to arrival: 20.0, Demand met 1.000
Run: 21, Mean assignment to arrival: 19.1, Mean call to arrival: 19.8, Demand met 1.000
Run: 22, Mean assignment to arrival: 19.3, Mean call to arrival: 20.0, Demand met 1.000
Run: 23, Mean assignment to arrival: 18.8, Mean call to arrival: 19.4, Demand met 1.000
Run: 24, Mean assignment to arrival: 18.9, Mean call to arrival: 19.5, Demand met 1.000
Run: 25, Mean assignment to arrival: 19.0, Mean call to arrival: 19.7, Demand met 1.000
Run: 26, Mean assignment to arrival: 18.9, Mean call to arrival: 19.6, Demand met 1.000
Run: 27, Mean assignment to arrival: 18.9, Mean call to arrival: 19.5, Demand met 1.000
Run: 28, Mean assignment to arrival: 19.1, Mean call to arrival: 19.8, Demand met 1.000
Run: 29, Mean assignment to arrival: 18.9, Mean call to arrival: 19.5, Demand met 1.000

In [5]:
results

    call_to_arrival  assign_to_arrival  demand_met
0         19.661537          19.047517       1.000
1         19.935451          19.312799       1.000
2         19.662793          18.995358       1.000
3         19.749400          19.133747       1.000
4         19.965330          19.334193       1.000
5         19.673841          19.089694       1.000
6         19.972341          19.342352       1.000
7         20.040169          19.420944       1.000
8         19.731222          19.097260       1.000
9         19.881246          19.227906       0.999
10        19.736939          19.095241       1.000
11        19.839561          19.200756       1.000
12        19.573330          18.980014       1.000
13        19.754220          19.071324       1.000
14        19.441910          18.813244       1.000
15        19.686103          18.995772       1.000
16        19.643617          19.033098       1.000
17        19.799009          19.201504       1.000
18        19.814135          19.197857       1.000
19        19.828903          19.231245       1.000
20        20.044786          19.364016       1.000
21        19.760704          19.129158       1.000
22        19.951778          19.269078       1.000
23        19.424156          18.803594       1.000
24        19.466455          18.858820       1.000
25        19.716314          19.049741       1.000
26        19.550591          18.899954       1.000
27        19.530190          18.909800       1.000
28        19.761788          19.141207       1.000
29        19.524551          18.898223       1.000

In [6]:
results.describe()

       call_to_arrival  assign_to_arrival  demand_met
count        30.000000          30.000000   30.000000
mean         19.737412          19.104847    0.999967
std           0.172748           0.168036    0.000183
min          19.424156          18.803594    0.999000
25%          19.648097          18.995462    1.000000
50%          19.743170          19.096251    1.000000
75%          19.836897          19.221305    1.000000
max          20.044786          19.420944    1.000000